

.txtfont{
    font-family: 'Poppins', sans-serif;
}

.container1{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 10px;

}

.container2{
    padding: 50px;
    padding-bottom: 10px;
}

.title{
    width: 330px;
    margin-bottom: 60px;
    
}
.title > h4{
    color: #5863F8;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.title  > h2{
    font-size: 35px;
    font-weight: 400;
    color: #000000;
}
/* satart form  */
.contact-form{
    display: flex;
    justify-content: space-between;
    
    

}

.textarea{
   padding: 15px 10px;
   background-color: #F8F8F8;
   border: 2px solid #E8E8E8;
   resize: none;
   margin-right: 20px;
   

   
   
}


input[ type=text] , input[ type=email], 
input[ type=submit]{
    display: block;
    width: 370px;
    height: 45px;
    border: 2px solid #E8E8E8;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    

    

}
input[ type=text] , input[ type=email]{
    margin-bottom: 20px;
    padding: 15px 10px;
    background-color: #F8F8F8;
    font-size: 13px;
    
}
input[ type=submit]{
    background-color: #5863F8;
    font-size: 14px;
    color: #ffff;
    cursor: pointer;
    
}
/* end form  */
/* .contact-info{

} */
.contact-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 0;
    
}
.contact-info h4{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;

}
.contact-info p{
    font-size: 14px;
    font-weight: 400;
    color: #B1B1B1;

}

.mail , .phone ,.map{
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.icon{
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #5863F8;
    border-radius: 50%;
    border: none; 


}


.mail-icon{
   
    background-image: url(../images/mail.svg);
   
}
.phone-icon {
    background-image: url(../images/phone.svg);
}
.map-icon {
    background-image: url(../images/map-pin.svg);
}

.sec2-title{
    width: 450px;
}
.sec2-title > h5{

}

/* section 2 */
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* start footer  */
footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    padding-top: 90px;
    background-color: #121212;
    
    
}
footer h3 ,footer a ,p{
    font-family: 'Poppins', sans-serif;
    

}
footer h3{
    font-size: 24px;
    color: #FFFFFF;

}

footer a ,footer p{
    font-size:14px ;
    color: #5863F8;
}

.foter-leftblock{
    width: 260px;

}
.foter-leftblock >p{
    margin: 30px 0;

}
.footer-logos{
    display: flex;
}
.footer-ul1 li, .footer-ul2 li, .footer-ul3 li{
    margin-top: 10px;
}

